---
import Layout from "../layouts/Layout.astro";
import IosSpinner from "../components/UI/IosSpinner.astro";
import ButtonRedFold from "../components/UI/ButtonRedFold.astro";
---

<Layout>
  <div class="justify-center not-even:align-middle">
    <h1 class="text-6xl text-center">404</h1>
    <br />
    <div class="flex justify-center">
      <IosSpinner />
    </div>
    <div class="flex justify-center mt-4">
      <ButtonRedFold />
    </div>
  </div>
</Layout>
