---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Mi blog de aprendizaje sobre Astro</h1>
  <p>
    Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
    <ul>
      <li><a href="/posts/post-1/">Publicación 1</a></li>
    </ul>
  </p>
</Layout>
