---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-6xl my-20">Legal</h1>

  <div id="politics" class="mx-16">
    <h2 class="text-4xl text-center mb-4">Politicas</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus
      corrupti inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A.
    </p>
  </div>
  <br />
  <br />
  <div id="terms" class="mx-16 mb-12">
    <h2 class="text-4xl text-center mb-4">Terminos</h2>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus
      corrupti inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Cumque natus corrupti
      inventore delectus deserunt commodi in repudiandae eveniet quidem
      perspiciatis, molestiae maiores architecto illo eaque veniam quae
      obcaecati pariatur doloremque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolores aspernatur reprehenderit doloribus impedit
      laudantium! Ipsa quaerat sed accusantium facere quidem. Molestiae deserunt
      molestias eos animi accusantium, vitae similique quam. Fugiat! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est nostrum rem odit commodi.
      Repellat laudantium eveniet ipsam itaque iste libero, facere, voluptates
      soluta corporis excepturi asperiores, aperiam at iusto saepe. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Inventore quo quas
      accusantium sit provident ex soluta aliquid laudantium sequi incidunt
      laborum earum voluptates aliquam commodi sed, nobis neque illo? A.
    </p>
  </div>
</Layout>
