---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  titlePage: string;
}

const { titlePage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon2.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{titlePage} | Bee Labs</title>
    <ClientRouter />
  </head>
  <body class="bg-gray-50 text-gray-900">
    <NavBar />

    <main class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <h1 class="text-4xl font-bold mb-10 text-center text-gray-800">
        {titlePage}
      </h1>
      <div class="prose prose-lg prose-gray mx-auto">
        <slot />
      </div>
    </main>

    <Footer />
  </body><script src="https://unpkg.com/alpinejs" defer></script>
</html>
