---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  titlePage: string;
}

const { titlePage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon2.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bee Labs</title>
    <ClientRouter />
  </head>
  <body>
    <NavBar />
    <h2
      class="text-3xl font-bold mb-4 mt-6 text-center text-gray-800"
      id="about"
    >
      {titlePage}
    </h2>
    <slot />
    <Footer />
    <script src="https://unpkg.com/alpinejs" defer></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
